h1 {
color: #5c5e5e;
text-align: center;
font-family: Comic Sans MS;
}
h3{
color: #5c5e5e;
text-align: center;
}
ul {
    list-style-type: none;
    padding-right: 30px;
    padding-left: 80px;
    overflow: hidden;
    background-color: #333;
}
#nav-bar  div{
    	width: 100%;
}

li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
	
}

li a:hover {
    background-color: #cc2614;
}
img {
  border-radius: 20px;
  margin-top: 6px;
}
   #modal {
    width: 300px;
	height: auto;
    border: 1px solid #CCC;
    box-shadow: 0 1px 5px #CCC;
    border-radius: 5px;
    font-family: verdana;
    margin: 25px auto;
    overflow: hidden;
	float: left;
	margin: 15px;
  }
  #modal header {
    background: #f1f1f1;
    box-shadow: 0 1px 2px #888;
    padding: 10px;
	background-color: #000000;

  }
  #modal h2 {
    color: #f9fafc;
    font-family: Hobo Std;
    font-size: 20px;
    font-weight: normal;
    text-shadow: 0 1px 2px white;
    
    text-align: center;
  }
  #modal section {
    padding: 10px 30px; 
    font-size: 12px;
    line-height: 175%;
    color: #333;
	background-color: #59616d;
	height: auto;
  }